* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: url(/img/background.svg);
  background-size: 20rem;
  font-size: 1.25rem;
}

.box {
  background: white;
  max-width: 60rem;
  margin: 0 auto;
  display: block;
  padding: 3rem;
  margin-top: 2rem;
}

img.logo {
  width: 100%;
  display: block;
  margin-bottom: 1.5rem;
}

a {
  color: #781D36;
}

p {
  margin-bottom: 1em;
}

a.button {
  color: white;
  background: #781D36;
  text-decoration: none;
  padding: 0.5em 1.75em;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.divider {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 1px;
  width: 100%;
  background: #ccc;
}

.font-special {
  font-family: "Rancho", "Open Sans", sans-serif;
}

h2 {
  margin-bottom: 1em;
}